{% extends 'basic.html' %}
{% load static %}

{% block content %}
  <div class="main">
    <div class="breadcrumbs">
        <div class="container ">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><span>О нас</span></li>
            </ul>
        </div>
    </div>
    <section class="features">
        <div class="container">

                <div class="features-info-block-right">

                    <h3>Из добрых рук</h3>
                    <p>О благотворительности говорят много. Внушительное число коммерческих
                        организаций и частных лиц на регулярной основе переводят деньги в фонды
                        и нуждающимся. Тем не менее реальность такова, что средств фондов хватает
                        на нужды лишь малой части их подопечных. Первоочередной задачей
                        «Из добрых рук» мы видим популяризацию фондов, а также увеличение объёма
                        средств, поступающих в их распоряжение. Потенциальные покупатели ресурса
                    </p>
                    <p class="mb-50">
                        Потенциальные покупатели ресурса оценивают свою способность оплатить
                        стоимость товара, а не готовность перечислить эти деньги на благотворительность.</p>

                </div>
            <h3 class="">Наши преимущества</h3>
            <div class="features-wrapper">
                <div class="features-item">
                    <div class="features-item-wrapper f1">
                        <h4>Удобно</h4>
                        <p>Структура торговой платформы аналогична принципу стандартного маркетплейса в сети</p>
                    </div>
                </div>
                <div class="features-item">
                    <div class="features-item-wrapper f2">
                        <h4>Честно</h4>
                        <p>Прозрачный набор юридических документов</p>
                    </div>
                </div>
                <div class="features-item">
                    <div class="features-item-wrapper f3">
                        <h4>Честно</h4>
                        <p>Продавец-благотворитель сам назначает стоимость лота и выбирает фонд, в который будут направлены средства от реализации лота.</p>
                    </div>
                </div>
            </div>
              <h3 class="">Как это работает</h3>
            <div class="features-info-wrapper horizontal">
                <div class="features-info-block-left">
                    <div class="features-info-block">
                        <h4>Механизм покупки</h4>
                        <p>Деньги покупателя приходят на торговую платформу, после подтверждения сделки покупателем, деньги переводятся в фонд, минимальная
                            комиссия остаётся на торговый платформе для обеспечения жизнедеятельности ресурса</p>
                    </div>
                    <div class="features-info-block">
                        <h4>Механизм продажи</h4>
                        <p>На торговой платформе отображена информация о фондах партнерах (ссылки на их официальные сайты)Продавец выбирает фонд в процессе размещения лота из уже
                            предложенных на сайте ТП фондов-партнеров. Перечислениеденежных средств в другие фонды или частным лицам обсуждается отдельно</p>
                    </div>
                </div>


            </div>
        </div>
    </section>


</div><!--//main-->
{% endblock %}