{% extends 'basic.html' %}
{% load static %}

{% block content %}
   <div class="main">
    <div class="breadcrumbs">
        <div class="container ">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><span>Контакты</span></li>
            </ul>
        </div>
    </div>
    <section class="contacts">
        <div class="container">
            <h3>E-mail</h3>
            <p class="">sample@mail.ru</p>
            <h3>Номер телефона службы поддержки</h3>
            <p class="">+7 (978) 557-80-82</p>

            <h3>Мы в социальных сетях</h3>
            <div class="footer-social">
                <div class="">
                    <ul class="mb-30">
                        <li><a  href=""><span class="vk"></span></a></li>
                        <li><a  href=""><span class="fb"></span></a></li>
                        <li><a  href=""><span class="ok"></span></a></li>
                    </ul>
                </div>
            </div>
            <h3>Связаться с нами</h3>
            <form>
                <div class="">
                    <div class="form-group ">
                        <label>Введите ваше имя*</label>
                        <input type="text" class="form-control input" placeholder="">
                    </div>
                     <div class="form-group ">
                        <label>Введите ваше имя*</label>
                        <input type="text" class="form-control input" placeholder="">
                    </div>
                </div>
                  <div class="form-row">
                <div class="form-group ">
                    <label for="">Текст сообщения</label>
                    <textarea class="form-control textarea" name="" id="" cols="30" rows="10"></textarea>
                </div>
                  </div>
                <button type="submit" class="btn">ОТПРАВИТЬ</button>
            </form>

        </div>
    </section>


</div><!--//main-->
{% endblock %}