{% extends 'basic.html' %}
{% load static %}

{% block content %}
  <div class="main">
    <div class="breadcrumbs">
        <div class="container ">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><span>Документы</span></li>
            </ul>
        </div>
    </div>
    <section>
         <div class="container">
             <h3 class="mb-30">Документы</h3>
             <p class="mb-10"><a href="{% static 'feaf037959865a4c.docx' %}">Политика конфиденциальности</a></p>
             <p class="mb-10"><a href="{% static '5f78b88b0dbb051d.pdf' %}">ИНН</a></p>
             <p class="mb-10"><a href="{% static '2.docx' %}">Пользовательское соглашение</a></p>



         </div>
    </section>


</div><!--//main-->
{% endblock %}