{% extends 'basic.html' %}
{% load static %}
{% load mytags %}

{% block content %}
    <div class="main">
        <section class="slider">
            <div class="container">
                <div class="controls" id="customize-controls">
                    <div class="arrow left"> </div>
                    <div class="arrow right"> </div>
                </div>


                <div class="slider-wrapper">
                    <div class="slider-inner" id="slider-inner">
                        {% for b in banners %}
                            <div class="slider-item">
                                <a href="{{ b.url }}">
                                  <img style="width: 400px; height: 200px" src="{{ b.image.url }}" alt="">

                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div><!-- // slider-wrapper -->

            </div>
        </section><!-- // slider -->
        <section class="catalog">
            <h3 class="text-center">Категории</h3>
            <div class="container bg-white">

                <div class="catalog-wrapper">
                    {% for cat in all_categories %}
                        <div class="catalog-item">
                            <a href="{% url 'catalog' cat.name_slug %}">
                                <img src="{{ cat.image.url }}" alt="">
                                <p>{{ cat.name }}</p>
                            </a>
                        </div><!-- // catalog-item -->
                    {% endfor %}
                </div>


            </div>


        </section><!-- // catalog -->



        <section class="features">
            <div class="container">
                <div class="best-of-bests-wrapper">
                    <div class="best-of-bests">
                        <div class="best-customers">
                            <h3>Почему мы</h3>
        <p style="max-width: 250px">На нашей площадке мы рады всем, кому есть, чем поделиться, ведь речь идет необязательно о товарах в привычном понимании. Это может быть чашечка кофе в Вашей компании или, возможно, Вы готовы кого-то научить играть Roadhouse blues на укулеле? А может, Вы - известный человек и подписанный Вами сувенир будет греть душу Вашему поклоннику? Мы готовы приветствовать всех, кому хотелось бы сделать доброе дело, от крупных корпораций до отдельно взятого того, кто думает: "Да кому нужно то, что я делаю?" Нам нужно!</p>

{#                            <ul>#}
{#                                {% for user in bestUsers %}#}
{#                                    <li class="best-customer-item">#}
{#                                    <div class="customer-img with-star">#}
{#                                        <a href="#">#}
{#                                            <img src="{{ user.get_avatar }}" alt="">#}
{#                                        </a>#}
{##}
{#                                    </div>#}
{#                                    <div class="customer-info">#}
{#                                        <a href="#"><p>{{ user.name }}</p>#}
{#                                            <span>12 покупок</span></a>#}
{##}
{#                                    </div>#}
{#                                </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
                        </div>
                        <div class="best-transfers mb-30">
                            <h3>Перечисления в фонды</h3>
                            <ul>
                                {% for fond in allFond %}
                                    <li class="best-customer-item">
                                    <div class="customer-img with-globe">
                                        <a href="#">
                                            {% if fond.icon %}
                                            <img  src="{{ fond.icon.url }}" alt="">
                                            {% else %}
                                                <img  src="https://placehold.it/70" alt="">
                                            {% endif %}
                                        </a>

                                    </div>
                                    <div class="customer-info">
                                        <a href="{% url 'fond' fond.name_slug %}"><p>{{ fond.name }}</p>
                                            <span>{{ fond.money_earn }} ₽</span>
                                        </a>

                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="best-of-bests-bg1"></div>
                    <div class="best-of-bests-bg2"></div>
                </div>

                <h3 class="text-center">Наши преимущества</h3>
                <div class="features-wrapper">
                    <div class="features-item">
                        <div class="features-item-wrapper f1">
                            <h4>Удобно</h4>
                            <p>Структура торговой платформы аналогична принципу стандартного маркетплейса в сети</p>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="features-item-wrapper f2">
                            <h4>Честно</h4>
                            <p>Прозрачный набор юридических документов</p>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="features-item-wrapper f3">
                            <h4>Честно</h4>
                            <p>Продавец-благотворитель сам назначает стоимость лота и выбирает фонд, в который будут направлены средства от реализации лота.</p>
                        </div>
                    </div>
                </div>
               <div class="features-info-wrapper-new">
                <div class="features-info-wrapper-new-inner">
                    <h3>Из добрых рук</h3>
                    <p class="mb-30">О благотворительности говорят много. Внушительное число коммерческих
                        организаций и частных лиц на регулярной основе переводят деньги в фонды
                        и нуждающимся. Тем не менее реальность такова, что средств фондов хватает
                        на нужды лишь малой части их подопечных. Первоочередной задачей «Из добрых рук»
                        мы видим популяризацию фондов, а также увеличение объёма средств, поступающих
                        в их распоряжение.
                    </p>
                    <p class="mb-50">
                        Потенциальные покупатели ресурса оценивают свою способность оплатить стоимость
                        товара, а не готовность перечислить эти деньги на благотворительность</p>
                    <a href="{% url 'about' %}" class="btn btn-white with-arrow">УЗНАТЬ БОЛЬШЕ</a>
                </div>
                <div class="features-info-wrapper-new-right-block-wrapper">
                      <div class="features-info-wrapper-new-right-block block-top">
                    <h3>Механизм покупки</h3>
                    <p>Деньги покупателя приходят на торговую
                        платформу, после
                        подтверждения сделки
                        покупателем, деньги переводятся в фонд,
                        минимальная комиссия остаётся на торговый
                        платформе
                        для обеспечения
                        жизнедеятельности ресурса</p>
                </div>
                <div class="features-info-wrapper-new-right-block block-bottom">
                    <h3>Механизм продажи</h3>
                    <p>На торговой платформе отображена
                        информация о фондах партнерах (ссылки
                        на их официальные сайты)
                        Продавец выбирает
                        фонд в процессе размещения лота из уже
                        предложенных на сайте ТП фондов-партнеров.
                        Перечислениеденежных средств в другие
                        фонды или частным
                        лицам обсуждается
                        отдельно</p>
                </div>
                </div>


            </div>
            </div>
        </section>

    </div><!--//main-->
    {% if not user.is_authenticated %}
        {% include 'pages/index-modal.html' %}

    {% endif %}

{% endblock %}