{% extends 'basic.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="main">

        <div class="breadcrumbs">
            <div class="container ">
                <ul>
                    <li><a href="/">Главная</a></li>
                    {#                <li><a href="#">Каталог товаров</a></li>#}
                    <li><a href="{% url 'catalog' item.category.name_slug %}">{{item.category.name}}</a></li>
                    <li><span>{{item.name}}</span></li>
                </ul>
            </div>
        </div>
        <section class="item-informaion">
            <div class="container">
                <div class="item-informaion-wrapper">
                    <div class="item-informaion-photo">
                        <h1>{{item.name}}</h1>
                        <img id="item_main_img" src="{{ images.first.image.url }}">
                        <div class="controls" id="customize-controls">
                            <div class="arrow left"> </div>
                            <div class="arrow right"> </div>
                        </div>

                        <div id="item-informaion-photos" class="item-informaion-photos">
                            {% for image in images %}

                                <img class="item-image-thumb {% if forloop.first %} selected{% endif %}" onclick="changeImg(this)" data-img="{{ image.image.url }}" src="{{ image.image_small }}" alt="">
                            {% endfor %}
                        </div>





                    </div>
                    <div class="item-informaion-price">
                        <div class="item-informaion-price-inner">
                            <p>{{item.price}} Рублей</p>
                            <div class="item-informaion-price-buttons">
                                <a href="javascript: void(0)" onclick="openBuyModal({{ item.id }})" class="btn ">Купить</a>
                                <a href="#" class="btn btn-outline with-green-fav">В Избранное</a>
                            </div>
                            <div class="new-chat">
                                <a href="javascript: void(0)" onclick="openChatBox()" class="btn rounded btn-outline btn-grey" >Написать Продавцу</a>
                                <div class="new-chat-form">

                                    <textarea id="chat_message" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                                    <a href="javascript: void(0)" class="btn" onclick="sendMsg()">отправить</a>

                                </div>
                            </div>
                        </div>

                        <div class="best-customer-item">
                            <p class="best-customer-item-info">Информация о продавце:</p>
                            <div class="customer-img with-star">
                                <a href="#">
                                    <img src="{{ user.get_avatar }}" alt="">
                                </a>

                            </div>
                            <div class="customer-info">
                                <a href="#"><p>{{ user.name }}</p>
                                    <span>20 покупок</span></a>

                            </div>
                        </div>
                    </div>


                </div>
                <h3 class="mb-50">Описание</h3>
                <div class="item-informaion-description">

                    <div class="item-informaion-description-row">
                        <span>Местоположение</span><p>{{item.address}}</p>
                    </div>
                    <div class="item-informaion-description-row">
                        <span>Дата размещения</span><p>{{ item.added | naturaltime}}</p>
                    </div>
                    <hr>
                    <div class="item-informaion-description-row">
                        <p>{{item.description}}</p>
                    </div>



                </div>
            </div>

        </section>
        <section class="items">
            <div class="container">
                <h3>Похожие Объявления</h3>
                <div class="items-wrapper">
                    {% for item in sameItems  %}
                        {% include 'pages/item_card.html' %}
                    {% endfor %}
                </div>
            </div>

        </section><!-- // items -->


    </div>

    </div><!--//main-->
     <div id="openModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">1500 <i class="fa fa-rub"></i></h3>
                        <a href="javascript: void (0)" title="Закрыть" class="close" onclick="toggleModal('modal')">×</a>
                    </div>
                    <div class="modal-body">
                        <p class="mb-10">Куда направить средства</p>
                        <select class="form-control select mb-30" id="fond_select" onchange="getFond()">
                            {% for fond in allFonds %}
                            <option value="{{fond.id}}" {% if forloop.first %}selected{% endif %}>{{ fond.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="fond-info mb-30">
                            {{ allFonds.first.description_short |safe }}
                        </div>
                        <p class="mb-10">Выберите способ оплаты</p>
                        <select class="form-control select" id="pay_select">
                            <option value="1">Сбербанк онлайн</option>
                             <option value="2">Сбербанк онлайн2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    <script>
    let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
    function getFond() {
        let fondSelect = document.getElementById('fond_select')
        let fondId =  fondSelect.options[fondSelect.selectedIndex].value;
        let fondInfo = document.getElementsByClassName('fond-info')[0]
        console.log(fondId)
        let body = {
                fond_id: fondId
            }
        fetch('/get_fond/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    fondInfo.innerHTML = res['fond_info']
                })
    }

    function openBuyModal(item_id) {
        document.getElementsByClassName('modal')[0].classList.toggle('modal-active')

    }
    </script>
    <script>
        function sendMsg() {
            let msg = document.getElementById('chat_message')

            let body = {
                msgTo: {{ item.user.id }},
                msgFrom: {{ request.user.id }},
                msg: msg.value
            }
            fetch('/chat/new_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    msg.value = ''
                    openChatBox()

                })

        }
        function openChatBox() {
            document.getElementsByClassName('new-chat-form')[0].classList.toggle('chat-active')

        }
        let mainimg=document.getElementById('item_main_img')
        function changeImg(el) {
            let allThums = document.getElementsByClassName('item-image-thumb')
            for (x of allThums){
                console.log(x.classList.remove('selected'))
            }
            console.log(el.getAttribute('src'))
            el.classList.add('selected')
            mainimg.classList.remove('fade-in')
            mainimg.classList.add('fade-out')
            mainimg.addEventListener('animationend', () => {
                mainimg.setAttribute('src', el.dataset.img)
                mainimg.classList.remove('fade-out')
                mainimg.classList.add('fade-in')
            });


        }
    </script>
{% endblock %}