{% extends 'basic.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="main">

        <div class="breadcrumbs">
            <div class="container ">
                <ul>
                    <li><a href="/">Главная</a></li>
                    {#                <li><a href="#">Каталог товаров</a></li>#}
                    <li><a href="{% url 'catalog' item.category.name_slug %}">{{item.category.name}}</a></li>
                    <li><span>{{item.name}}</span></li>
                </ul>
            </div>
        </div>
        <section class="item-informaion">
            <div class="container">
                <div class="item-informaion-wrapper">
                    <div class="item-informaion-photo">
                        <h1>{{item.name}}</h1>
                        <img src="{{ images.first.image.url }}">
                        <div class="item-informaion-photos">
                            {% for image in images %}
                                <img src="{{ image.image_small }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item-informaion-price">
                        <div class="item-informaion-price-inner">
                            <p>{{item.price}} Рублей</p>
                            <div class="item-informaion-price-buttons">
                                <a href="#" class="btn ">Купить</a>
                                <a href="#" class="btn btn-outline with-green-fav">В Избранное</a>
                            </div>
                            <a href="#" class="btn rounded btn-outline btn-grey">Написать Продавцу</a>
                        </div>

                        <div class="best-customer-item">
                            <p class="best-customer-item-info">Информация о продавце:</p>
                            <div class="customer-img with-star">
                                <a href="#">
                                    <img src="{{ user.get_avatar }}" alt="">
                                </a>

                            </div>
                            <div class="customer-info">
                                <a href="#"><p>{{ user.name }}</p>
                                    <span>20 покупок</span></a>

                            </div>
                        </div>
                    </div>


                </div>
                <h3 class="mb-50">Описание</h3>
                <div class="item-informaion-description">

                    <div class="item-informaion-description-row">
                        <span>Местоположение</span><p>{{item.address}}</p>
                    </div>
                    <div class="item-informaion-description-row">
                        <span>Дата размещения</span><p>{{ item.added | naturaltime}}</p>
                    </div>
                    <hr>
                    <div class="item-informaion-description-row">
                        <p>{{item.description}}</p>
                    </div>



                </div>
            </div>

        </section>
        <section class="items">
            <div class="container">
                <h3>Похожие Объявления</h3>
                <div class="items-wrapper">
                    {% for item in sameItems  %}
                        {% include 'pages/item_card.html' %}
                    {% endfor %}
                </div>
            </div>

        </section><!-- // items -->



    </div><!--//main-->
{% endblock %}