{% load mytags %}
<div class="item">
    {% if item.user != user and user.is_authenticated%}
    <a id="fav_btn_{{ item.id }}" class="item-fav {% if item.id in wishlist_ids %} in-fav{% endif %}"
       href="javascript: void (0)" onclick="add_del_fav({{ item.id }}, this {% if lkActive %}, 'lkactive'{% endif %})"></a>
    {% endif %}
    <a class="image-center" href="{% url 'item' item.name_slug %}">
        <div class="" style="background: url({{ item.get_image }}) center no-repeat; width: 270px; height: 270px; background-size: cover">

        </div>
{#        <img src="{{ item.itemimage_set.first.image_small }}" alt="">#}
    </a>

    <div class="item-info">
        <a href="{% url 'item' item.name_slug %}">
{#            <p class="item-info-text item-present">В наличии</p>#}
            <p class="item-info-name">{{ item.name }}</p>
            <p class="item-info-text">Цена</p>
            <p class="item-info-price">{{item.price}} Р</p>

        </a>
        {% if lkActive and item.user.id == request.user.id%}
            {% if item.isSold %}
            <p class="item-info-text">{{ item | get_sold_info |safe}}</p>
            {% endif %}
            <hr>
            <a style="color: #01BF41" href="{% url 'edit_item' item.id %}">Редактировать</a><br><br>
            <a style="color: red" href="{% url 'del_item' item.id %}" onclick="return confirm('Вы уверены?')">Удалить товар</a>
        {% endif %}
    </div>
</div><!-- // item -->