<div class="item">
{#    {% if item.user != user or not user.is_authenticated%}#}
    <a id="fav_btn_{{ item.id }}" class="item-fav {% if item.id in wishlist_ids %} in-fav{% endif %}"
       href="javascript: void (0)" onclick="add_del_fav({{ item.id }}, this {% if lkActive %}, 'lkactive'{% endif %})"></a>
{#    {% endif %}#}
    <a href="{% url 'item' item.name_slug %}">
        <img src="{{ item.itemimage_set.first.image_small }}" alt="">
    </a>

    <div class="item-info">
        <a href="{% url 'item' item.name_slug %}">
{#            <p class="item-info-text item-present">В наличии</p>#}
            <p class="item-info-name">{{ item.name }}</p>
            <p class="item-info-text">Цена</p>
            <p class="item-info-price">{{item.price}} Р</p>

        </a>
    </div>
</div><!-- // item -->