{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="breadcrumbs">
            <div class="container ">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>Личный кабинет</span></li>
                </ul>
            </div>
        </div>

        <section class="lk">
            <div class="container">
                <div class="lk-mobile-menu">
                    <ul>
                        <li class="tablinks" onclick="openTab(event, 'lk-content-user-info', 'active-menu-link')"><a href="javascript: void(0)"><i class="fa fa-bars"></i></a></li>
                        <li class="tablinks active-menu-link" onclick="openTab(event, 'lk-content-ads', 'active-menu-link')" id="defaultOpenMobile"><a href="javascript: void(0)"><i class="fa fa-pencil-square-o"></i></a></li>
                        <li class="tablinks" onclick="openTab(event, 'lk-content-buys', 'active-menu-link')"><a href="javascript: void(0)"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="tablinks" onclick="openTab(event, 'lk-content-chat', 'active-menu-link')"><a href="javascript: void(0)"><i class="fa fa-comment-o"></i></a></li>
                        <li class="tablinks" onclick="openTab(event, 'lk-content-fav', 'active-menu-link')"><a href="javascript: void(0)"><i class="fa fa-heart-o"></i></a></li>
                        <li class="tablinks" onclick="openTab(event, 'lk-content-settings', 'active-menu-link')"><a href="javascript: void(0)"><i class="fa fa-gear"></i></a></li>

                    </ul>
                </div>
                <div class="lk-wrapper">
                    <div class="lk-menu">
                        <div class="lk-menu-top">
                            <img src="{{ user.get_avatar }}" alt="">
                            <p>{{ user.name }}</p>
                            <span>#Переменное значение</span>
                            <a href="#">Выйти</a>
                        </div><!-- // lk-menu-top -->
                        <div class="lk-menu-bottom">
                            <ul>
                                <li class="tablinks" onclick="openTab(event, 'lk-content-ads', 'active-li')" id="defaultOpen"><a class="my-ads" href="javascript: void(0)" >Мои обьявления</a></li>
                                <li class="tablinks" onclick="openTab(event, 'lk-content-buys', 'active-li')"><a class="my-buys" href="javascript: void(0)"  >Мои покупки</a></li>
                                <li class="tablinks" onclick="openTab(event, 'lk-content-chat', 'active-li')"><a class="my-chat" href="javascript: void(0)">Чаты</a></li>
                                <li class="tablinks" onclick="openTab(event, 'lk-content-fav', 'active-li')"> <a class="my-fav" href="javascript: void(0)">Избранное</a></li>
                                <li class="tablinks" onclick="openTab(event, 'lk-content-settings', 'active-li')"><a class="my-settings" href="javascript: void(0)">Настройки</a></li>
                            </ul>

                        </div><!-- // lk-menu-bottom -->

                    </div><!-- // lk-menu -->
                    <div class="lk-content">
                        <div id="lk-content-user-info" class="lk-content-wrapper lk-content-ads">
                            <div class="lk-menu-top">
                                <img src="{{ user.get_avatar }}" alt="">
                                <p>{{ user.name }}</p>
                                <span>#Переменное значение</span>
                                <a href="#">Выйти</a>
                            </div><!-- // lk-menu-top -->
                        </div>
                        <div id="lk-content-ads" class="lk-content-wrapper lk-content-ads">
                            <h3 class="mb-40">Мои обьявления</h3>
                            <div class="items-wrapper">
                                <div class="item new-item">
                                    <a style="margin-top: 30%" class="image-center" href="{% url 'new_item' %}">
                                        <img src="{% static 'img/new-item.png' %}" alt="">
                                        <p>НОВОЕ<br>ОБЬЯВЛЕНИЕ</p>
                                    </a>
                                </div>
                                {% for item in userItems %}
                                    {% include 'pages/item_card.html' %}
                                {% endfor %}
                            </div>

                        </div><!-- // lk-content-ads -->
                        <div id="lk-content-buys" class="lk-content-wrapper lk-content-buys">
                            <h3 class="mb-40">Мои покупки</h3>
                            <div class="items-wrapper">
                                {% if allBuys %}
                                    {% for item in allBuys %}
                                        <div class="item">

                                            <a class="image-center" href="{% url 'item' item.item.name_slug %}">
                                                 <div class="" style="background: url({{ item.item.get_image }}) center no-repeat; width: 270px; height: 270px; background-size: cover">

        </div>
{#                                                <img src="{{ item.item.itemimage_set.first.image_small }}" alt="">#}
                                            </a>

                                            <div class="item-info">
                                                <a href="{% url 'item' item.item.name_slug %}">
                                                    {#            <p class="item-info-text item-present">В наличии</p>#}
                                                    <p class="item-info-name">{{ item.item.name }}</p>
                                                    <p class="item-info-text">Цена</p>
                                                    <p class="item-info-price">{{item.item.price}} Р</p>
                                                    <p class="item-info-text">Куплено {{ item.createdAt | date }}</p>

                                                </a>
                                            </div>
                                        </div><!-- // item -->
                                    {% endfor %}
                                {% else %}
                                    <p>Вы пока ничего не купили</p>
                                {% endif %}
                            </div>

                        </div><!-- // lk-content-buys -->
                        <div id="lk-content-chat" class="lk-content-wrapper lk-content-chat">
                            <h3 class="mb-40">Мои чаты</h3>
                            <div id="unread-chats" class="not-visible">
                                <p>Непрочитанные</p>
                                <ul id="unread-chats-list"></ul>
                            </div>

                            <p>Все сообщения</p>
                            <ul id="read-chats-list"></ul>
                            <div id="chat-messages" style="left: 0; right: 0;" class="lk-content-chat-messages">
                                <div  class="lk-content-chat-messages-top ">
                                    <div  class="lk-content-chat-item-img ">
                                        <img id="chat_user_avatar" src="" alt="">
                                    </div>

                                    <div class="lk-content-chat-item-user">
                                        <p id="chat_user_name"></p>
                                        <span></span>
                                    </div>
                                    <div class="lk-content-chat-item-close">
                                        <a href="javascript:void(0)" onclick="closeChat()"><i class="fa fa-close"></i></a>
                                    </div>

                                </div>
                                <div class="lk-content-chat-messages-bottom">
                                </div>
                                <div class="lk-content-chat-messages-new-message">
                                    <textarea id="chat_message"  placeholder="Текст вашего сообщения"></textarea>
                                    <div class="lk-content-chat-messages-new-message-button"><a href="javascript: void(0)" onclick="sendMsg()"><i class="fa fa-telegram"></i></a></div>

                                </div>
                            </div>

                        </div><!-- // lk-content-chat -->
                        <div id="lk-content-fav" class="lk-content-wrapper lk-content-fav">
                            <h3 class="mb-40">Избранное</h3>
                            <div class="items-wrapper">
                                {% if userFavs %}
                                    {% for item in userFavs %}
                                        {% include 'pages/item_card.html' %}
                                    {% endfor %}
                                {% else %}
                                    <p>Вы не добавили ничего в избранное</p>
                                {% endif %}
                            </div>

                        </div><!-- // lk-content-fav -->
                        <div id="lk-content-settings" class="lk-content-wrapper lk-content-settings">
                            <h3 class="mb-40">Настройки</h3>
                            <form action="{% url 'update_req' %}" method="post" class="lk-tab-info" enctype="multipart/form-data">{% csrf_token %}


                                <div class="form-group">
                                    <label>Ваше ФИО</label>
                                    <div style="flex-grow: 1">
                                        <input required class="form-control input" type="text" placeholder="ваше ф.и.о" name="{{ updateForm.name.name }}" value="{{ user.name }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Ваш E-mail</label>
                                    <div style="flex-grow: 1">
                                        <input required class="form-control input" type="text" placeholder="ваше Email" name="{{ updateForm.email.name }}" value="{{ user.email }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Ваш телефон</label>
                                    <div style="flex-grow: 1">
                                        <input required class="form-control input" type="text" placeholder="ваш телефон" name="{{ updateForm.phone.name }}" value="{{ user.phone }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Фото профиля</label>
                                    <label for="ava" style="cursor: pointer;display: flex; align-items: center; flex-grow: 1;">
                                        {% if user.avatar %}

                                            <img width="50"  src="{{ user.avatar.url }}"> изменить фото профиля
                                        {% else %}
                                            фото профиля не установлено! Кликните для установки
                                        {% endif %}
                                        <input style="visibility: hidden" id="ava" name="{{ updateForm.avatar.name }}" type="file">
                                    </label>
                                </div>
                                <button style="width: 100%" type="submit" class="btn btn-sm btn-filled">внести изменения</button>

                            </form>


                        </div><!-- // lk-content-settings -->
                    </div><!-- // lk-content -->

                </div><!-- // lk-wrapper -->
            </div><!-- // container -->
        </section><!-- // lk -->




    </div><!--//main-->
    <script>
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let curChat = 0
        let unreadChatsList = document.getElementById('unread-chats-list')
        let readChatsList = document.getElementById('read-chats-list')
        let unreadChats = document.getElementById('unread-chats')
        let chatDiv = document.getElementById('chat-messages')
        let chatMsgWrapper = document.getElementsByClassName('lk-content-chat-messages-bottom')[0]
        let msgTextArea = document.getElementById('chat_message')

        getChats()

        function getChats() {
            unreadChatsList.innerHTML=''
            readChatsList.innerHTML=''
            fetch('/chat/get_chats/', {
                method: 'post',
                body: '',
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)

                    if (res['unreadChats'].length > 0){
                        for (chat of res['unreadChats']){
                            console.log(chat['chat_id'])
                            unreadChatsList.innerHTML = unreadChatsList.innerHTML + `
                             <li>
                                    <div data-chat_id="${chat['chat_id']}" class="lk-content-chat-item " onclick=openChat(this)>
                                        <div data-num="${chat['unread_mgs_count']}" class="lk-content-chat-item-img unread">
                                            <img src="${chat['user_avatar']}" alt="">
                                        </div>

                                        <div class="lk-content-chat-item-user">
                                            <p>${chat['chat_from']}</p>
                                            <span>${chat['last_msg']}</span>
                                        </div>
                                        <div class="lk-content-chat-item-date">
                                            <span>${chat['last_msg_time']}</span>
                                        </div>
                                    </div>
                                </li>
                            `

                        }
                        unreadChats.classList.remove('not-visible')
                    }else{
                        unreadChats.classList.add('not-visible')
                    }

                    if (res['readChats'].length > 0){
                        for (chat of res['readChats']){

                            readChatsList.innerHTML = readChatsList.innerHTML + `
                             <li>
                                    <div data-chat_id="${chat['chat_id']}" class="lk-content-chat-item " onclick=openChat(this)>
                                        <div  class="lk-content-chat-item-img ">
                                            <img src="${chat['user_avatar']}" alt="">
                                        </div>

                                        <div class="lk-content-chat-item-user">
                                            <p>${chat['chat_from']}</p>
                                            <span>${chat['last_msg']}</span>
                                        </div>
                                        <div class="lk-content-chat-item-date">
                                            <span>${chat['last_msg_time']}</span>
                                        </div>
                                    </div>
                                </li>
                            `

                        }

                    }else{

                    }



                })

        }


        function sendMsg() {
            let msg = msgTextArea.value

            let body = {
                chatId: curChat,
                msgFrom: {{ request.user.id }},
                msg: msg
            }

            fetch('/chat/add_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(msg)


                    chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-content-chat-messages-bottom__message-from-me">
                                        <p>${ msg}</p>
                                        <span>${new Date(Date.now()).toLocaleString()}</span>
                                    </div>`
                }).then(()=>{
                    document.getElementsByClassName('lk-content-chat-messages-bottom')[0].scrollTo(0,(document.getElementsByClassName('lk-content-chat-messages-bottom')[0].scrollTop+2000))
                    msgTextArea.value = ''
                }

            )


        }

    </script>

    <script>
        var tx = document.getElementsByTagName('textarea');
        for (var i = 0; i < tx.length; i++) {
            //tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight )  + 'px';
        }
    </script>
    <script>
        function closeChat(){
            getChats()
            document.getElementById('chat-messages').classList.remove('show-messages')
        }


        function openChat(el){
            chatMsgWrapper.innerHTML = ''
            msgTextArea.value = ''

            let chatUserAvatar = document.getElementById('chat_user_avatar')
            let chatUserName = document.getElementById('chat_user_name')
            let chat_id = el.dataset.chat_id
            let body = {
                chat_id: chat_id
            }
            curChat = chat_id
            fetch('/chat/get_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)

                    chatUserName.innerText = res['userInfo']['user_name']
                    chatUserAvatar.setAttribute('src',res['userInfo']['user_avatar'])

                    for (msg of res['chatMsg']){
                        console.log(msg)

                        if (msg['own']){
                            chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-content-chat-messages-bottom__message-from-me">
                                        <p>${msg['own'][0]}</p>
                                        <span>${msg['own'][1]}</span>
                                    </div>`
                        }else{
                            chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-content-chat-messages-bottom__message-to-me">
                                        <p>${msg['from'][0]}</p>
                                        <span>${msg['from'][1]}</span>
                                    </div>
                               `
                        }
                    }
                }).then(()=>{
                    chatDiv.classList.add('show-messages')
                    document.getElementsByClassName('lk-content-chat-messages-bottom')[0].scrollTo(0,(document.getElementsByClassName('lk-content-chat-messages-bottom')[0].scrollTop+2000))
                }
            )
        }


    </script>


    <script>
        function openTab(evt, TabName, type) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("lk-content-wrapper");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(` ${type}`, "");
            }
            document.getElementById(TabName).style.display = "block";
            document.getElementById('chat-messages').classList.remove('show-messages')
            console.log(evt)
            evt.currentTarget.className += ` ${type}`;
        }

        // Get the element with id="defaultOpen" and click on it defaultOpenMobile
        document.getElementById("defaultOpen").click();

    </script>
{% endblock %}