{% extends 'basic.html' %}
{% load static %}

{% block content %}
   <div class="main">

    <section class="breadcrumbs">
        <div class="container bg-white breadcrumbs-wrapper">
            <a href="/">Главная</a>
            <span>Личный Кабинет</span>
        </div>
    </section>
    <section class="lk">
        <div class="container">
            <div class="lk-wrapper">
            <div class="lk-user">
                <img src="http://placehold.it/210" alt="">
                <p>Иван Иванов</p>
            </div>
            <div class="lk-blank"></div>
            <div class="lk-buttons">


            <div class="catalog-inner">
                  <div class="catalog-wrapper">
                <div class="catalog-item">
                    <a href="">
                        <img src="http://placehold.it/100" alt="">
                        <p>Чаты</p>
                    </a>
                </div><!-- // catalog-item -->
                 <div class="catalog-item">
                    <a href="">
                        <img src="http://placehold.it/100" alt="">
                        <p>Избранное</p>
                    </a>
                </div><!-- // catalog-item -->
                 <div class="catalog-item">
                    <a href="">
                        <img src="http://placehold.it/100" alt="">
                        <p>Мои товары</p>
                    </a>
                </div><!-- // catalog-item -->


            </div>
            </div>





            </div>
        </div>
        </div>




    </section>


</div><!--//main-->
{% endblock %}