{% extends 'basic.html' %}
{% load static %}


{% block content %}
    <div class="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>

                    <li><span>Новое обьявление</span></li>
                </ul>

            </div><!--//breadcrumbs-->
            <section class="new-item">
                <form action="{% url 'createItem' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-row">
                        <p>Выберите категорию</p>
                        <select required class="form-control select" name="{{ form.category.name }}" id="category">
                            {% for cat in all_cat %}
                                <option value="{{ cat.id }}">{{cat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <p>Выберите подкатегорию</p>
                        <select required class="form-control select" name="{{ form.subCategory.name }}" id="subcategory">
                            {% for subcat in all_cat.first.subcats.all %}
                                <option class="subcat-name" value="{{ subcat.id }}">{{subcat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-row">
                        <p>Параметры</p>
                        <div class="form-group">
                            <label>Название обьявления</label>
                            <div>
                                <input name="{{ form.name.name }}" required class="form-control input" type="text" placeholder="Продам стиральную машинку">
                                <span>Например, «Диван-кровать Икеа» или «Холодильник Бирюса 110»</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Описание обьявления</label>
                            <textarea class="form-control textarea" name="{{ form.description.name }}" id="" cols="30" rows="10" placeholder="Продам стиральную машинку"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Цена: ₽</label>
                            <input required name="{{ form.price.name }}" class="form-control input" type="number" min="1" placeholder="15 000">
                        </div>
                     <div class="login-wrapper-group">
                        <input type="checkbox" name="{{ form.isService.name }}" >
                        <label>Услуга</label>
                    </div>
                        <div class="form-group">
                            <label>Фотографии</label>
                            <div class="upload-wrapper">
                                <label for="upload_img" class="upload-label">
                                    <input id="upload_img" name="images" multiple accept="image/*"  type="file" >
                                </label>
                                <div id="preview" class="images-preview">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <p>Местоположение</p>
                            <select required class="form-control select" name="{{ form.town.name }}" >
                                {% for town in all_towns %}
                                    <option value="{{ town.id }}">{{town.name}}</option>
                                {% endfor %}
                            </select>
                            <span>Точный адрес поможет привлечь заинтересованных покупателей</span>
                        </div>
                        <div class="form-group">
                            <label>Адрес</label>
                            <div>
                                <input name="{{ form.address.name }}" required class="form-control input" type="text" placeholder="ул. Ленина 1000">

                            </div>
                        </div>
                        <div class="form-row">
                            <p>Выберите фонд</p>
                            <select required class="form-control select" name="{{ form.fond.name }}" id="fond_select" >

                                {% for fond in allFonds %}
                                    <option data-type="fond" value="{{ fond.id }}">{{fond.name}}</option>
                                {% endfor %}
                                     <option data-type="other" value="">ИНОЕ</option>
                            </select>

                        </div>
                        <div id="other_fond_option" class="form-group not-visible">
                            <label>Иное</label>
                            <div>
                                <input name="{{ form.otherChoice.name }}" disabled id="other_fond_option_input"  class="form-control input" type="text" placeholder="Описание  поля">
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group">
                                <label>Способ связи</label>
                                <div class="form-radios">
                                    <div class="radio-control">
                                        <input type="radio" name="conversation_type">
                                        <label>По телефону</label>
                                    </div>
                                    <div class="radio-control">
                                        <input type="radio" name="conversation_type">
                                        <label>По телефону и в сообщениях</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="login-wrapper-group">
                        <input type="checkbox" required>
                        <label>С условиями договора оферты согласен</label>
                    </div>

                    <input type="hidden" name="{{ form.user.name }}" value="{{ user.id }}">
                    <button style="width: 250px" class="btn" type="submit">Сохранить</button>
                </form>
            </section><!--//new-item-->
        </div><!--//container-->
        <script>
            let catSelect = document.getElementById('category')
            let fondSelect = document.getElementById('fond_select')
            let otherOption = document.getElementById('other_fond_option')
            let otherOptionInput = document.getElementById('other_fond_option_input')
            let subcatSelect = document.getElementById('subcategory')

            let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            console.log((csrfmiddlewaretoken))

            fondSelect.addEventListener('change',()=>{
                let type = fondSelect.options[fondSelect.selectedIndex].dataset.type
                if (type === 'other'){
                    otherOption.classList.remove('not-visible')
                    otherOptionInput.removeAttribute('disabled')
                }
                else {

                    otherOption.classList.add('not-visible')
                    otherOptionInput.value = ''
                    otherOptionInput.setAttribute('disabled','disabled')
                }

                console.log()

            })

            catSelect.addEventListener('change',()=>{

                [].forEach.call(document.querySelectorAll('.subcat-name'),function(e){
                    e.parentNode.removeChild(e);
                });
                getSubcat({
                    category: catSelect.options[catSelect.selectedIndex].value})

            })

            function getSubcat(opts) {

                fetch('/item/get_subcat/', {
                    method: 'post',
                    body: JSON.stringify(opts),
                    headers: { "X-CSRFToken": csrfmiddlewaretoken },
                    credentials: 'same-origin'
                }).then(res=>res.json())
                    .then(res => {
                        for (x of res['subcategories']){
                            console.log(x['id'])
                            var option = document.createElement("option")
                            option.text = x['name']
                            option.value = x['id']
                            option.classList.add('subcat-name')
                            subcatSelect.appendChild(option)

                        }

                    })


            }
        </script>
        <script>
            function previewImages() {
                var preview = document.querySelector('#preview');
                preview.innerHTML = ''
                if (this.files) {
                    [].forEach.call(this.files, readAndPreview);
                }
                function readAndPreview(file) {
                    var reader = new FileReader();
                    reader.addEventListener("load", function() {
                        var image = new Image();
                        image.height = 140;
                        image.width = 140;
                        image.title  = file.name;
                        image.src    = this.result;
                        preview.appendChild(image);
                    });
                    reader.readAsDataURL(file);
                }
            }
            document.querySelector('#upload_img').addEventListener("change", previewImages);
        </script>
    </div><!--//main-->
{% endblock %}