*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'GR';
  src: url("../font/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy Regular"), url("../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.woff") format("woff"), url("../font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GB';
  src: url("../font/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy Bold"), url("../font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.woff") format("woff"), url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font: 14px 'GR',sans-serif;
  color: #212020;
}

hr {
  border: none;
  border-bottom: 1px solid #EBEBEB;
  margin: 15px 0;
}

h3 {
  font: 25px 'GB',sans-serif;
  color: #212020;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.bg-white {
  background: #ffffff;
}

.bg-lite {
  background: #E5E5E5;
}

.bg-grey {
  background: #FAFAFA;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.text-center {
  text-align: center !important;
}

.new-offers {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main {
  margin-bottom: 120px;
}

.mobile-visible {
  display: none;
}

.about-fond {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 80px;
}

.about-fond-left {
  position: relative;
}

.about-fond-left-cb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-fond-left-cb label {
  margin-right: 15px;
}

.about-fond-left h2,
.about-fond-left h5 {
  display: none;
}

.about-fond-left h5 {
  margin-bottom: 5px;
  font: 15px 'GB', sans-serif;
  color: #515151;
}

.about-fond-left h2 {
  margin-bottom: 20px;
  font: 70px 'GR', sans-serif;
  color: #212020;
  text-transform: uppercase;
}

.about-fond-left img {
  margin-bottom: 80px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.about-fond-left h4 {
  font: 18px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 20px;
}

.about-fond-left a {
  display: block;
  color: #00AADF;
  font: 16px 'GR',sans-serif;
  margin-bottom: 10px;
}

.about-fond-left p {
  font: 13px 'GR',sans-serif;
  color: #515151;
  margin-bottom: 17px;
}

.about-fond-right img {
  display: none;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.about-fond-right h2 {
  margin-bottom: 20px;
  font: 70px 'GR', sans-serif;
  color: #212020;
  text-transform: uppercase;
}

.about-fond-right h4 {
  margin-bottom: 15px;
  font: 18px 'GB', sans-serif;
  color: #212020;
  border-bottom: 2px solid #00AADF;
}

.about-fond-right h5 {
  margin-bottom: 5px;
  font: 15px 'GB', sans-serif;
  color: #515151;
}

.about-fond-right p {
  font: 14px 'GR', sans-serif;
  color: #515151;
  line-height: 18px;
  margin-bottom: 10px;
}

.fond-link {
  display: block;
  color: #00AADF;
  font: 16px 'GR',sans-serif;
  margin-bottom: 5px;
}

.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs ul {
  font-family: 'GR',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs ul li a {
  font-size: 15px;
  color: #212020;
}

.breadcrumbs ul li a::after {
  margin: 0 20px;
  content: '/';
}

.breadcrumbs ul li span {
  color: #00AADF;
  font-size: 15px;
}

.form-control {
  position: relative;
  height: 40px;
  font: 14px 'GR', sans-serif;
  color: #161616;
  padding: 0 10px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.form-control:focus {
  outline: none;
}

.form-control.select {
  width: 100%;
}

.form-control.input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  padding-left: 20px;
}

.form-control.textarea {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 180px;
  padding: 15px 20px;
  width: 100%;
}

.fieldset {
  background: #E5E5E5;
  border-radius: 10px;
  position: relative;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

.fieldset input {
  padding-left: 60px !important;
}

.fieldset.search::before {
  position: absolute;
  content: url(../img/zoom.png);
  left: 20px;
  bottom: 0;
  top: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.btn {
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(28.69%, #01BF41), to(#26D961));
  background: -o-linear-gradient(bottom, #01BF41 28.69%, #26D961 100%);
  background: linear-gradient(360deg, #01BF41 28.69%, #26D961 100%);
  -webkit-box-shadow: 0px 2px 0px #0E913A;
  box-shadow: 0px 2px 0px #0E913A;
  border-radius: 2px;
  cursor: pointer;
  font: 12px 'GB',sans-serif;
  color: #ffffff;
  height: 40px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#05D74C), to(#37F274));
  background: -o-linear-gradient(bottom, #05D74C 0%, #37F274 100%);
  background: linear-gradient(0deg, #05D74C 0%, #37F274 100%);
  -webkit-box-shadow: 0px 2px 0px #0EC24A;
  box-shadow: 0px 2px 0px #0EC24A;
}

.btn.bg-grey {
  background: #EBEBEB;
}

.btn.with-plus::before {
  content: url(../img/plus.png);
  height: 16px;
  width: 16px;
  margin-right: 16px;
}

.btn.with-arrow {
  max-width: 260px;
}

.btn.with-arrow::after {
  font-family: FontAwesome;
  content: '\f0a9';
  font-size: 16px;
  margin-left: 16px;
}

.btn.with-filter::before {
  content: url(../img/filter.png);
  height: 16px;
  width: 16px;
  margin-right: 16px;
}

.btn.with-green-fav::before {
  content: url(../img/in-fav-green.png);
  height: 16px;
  width: 16px;
  margin-right: 16px;
}

.btn.btn-outline {
  border: 2px solid #01BF41;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #04C043;
  height: 42px;
}

.btn.btn-grey {
  border-color: #EBEBEB;
  color: #212020;
}

.btn.btn-white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 0px #D9D9D9;
  box-shadow: 0px 2px 0px #D9D9D9;
  border-radius: 2px;
  color: #26D961;
}

.radio-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.radio-control label {
  padding: 0 !important;
  margin-left: 10px;
  -ms-flex-preferred-size: 100% !important;
  flex-basis: 100% !important;
  font: 13px 'GR', sans-serif;
  color: #9e9e9e;
}

.dual-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.dual-input input {
  border: none;
  padding: 0 10px;
  height: 40px;
  width: 49%;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.dual-input input:focus {
  outline: 0;
}

.dual-input p {
  margin: 0 10px;
}

.form-row {
  margin-bottom: 50px;
}

.form-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 85px;
}

.form-row p {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 25px;
}

.form-row span {
  font: 13px 'GR', sans-serif;
  color: #9e9e9e;
  display: block;
  margin-top: 15px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.form-group.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
}

.form-group.vertical label {
  margin-bottom: 10px;
}

.form-group.vertical input {
  height: 50px;
}

.form-group label {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  padding-top: 10px;
}

.form-group span {
  font: 13px 'GR', sans-serif;
  color: #9e9e9e;
  display: block;
  margin-top: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo img {
  width: 330px;
}

.header {
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 5px 80px rgba(210, 210, 210, 0.4);
  box-shadow: 0px 5px 80px rgba(210, 210, 210, 0.4);
}

.header-top {
  background: #ffffff;
  padding: 35px 10px;
  border-bottom: 1px solid #EBEBEB;
}

.header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-nav ul li {
  margin-right: 50px;
}

.header-top-nav ul li a {
  font: 17px 'GB',sans-serif;
  color: #212020;
}

.header-top-nav ul li:last-child {
  margin-right: 40px;
}

.header-top-nav-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-nav-buttons ul li {
  margin-right: 10px;
}

.header-top-nav-buttons ul li a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #212020;
  font-size: 25px;
}

.header-top-nav-buttons ul li a span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.header-top-nav-buttons ul li a span.icon-favorites {
  background: url(../img/icon-fav.png) no-repeat center;
}

.header-top-nav-buttons ul li a span.icon-lk {
  background: url(../img/icon-lk.png) no-repeat center;
  width: 30px;
}

.header-top-nav-buttons ul li a span.icon-menu {
  background: url(../img/icon-menu.png) no-repeat center;
}

.header-top-nav-buttons ul li a span.icon-zoom {
  background: url(../img/zoom.png) no-repeat center;
}

.header-bottom {
  position: relative;
  background: #ffffff;
  padding: 15px 10px;
}

.header-bottom form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobile-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobile-nav {
  position: relative;
  display: none;
  padding: 20px;
}

.mobile-nav ul li a span {
  width: 19px;
  height: 19px;
  background-size: cover !important;
}

.mobile-nav ul li a.icon-lk {
  height: 21px;
}

.mobile-menu {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 80px rgba(210, 210, 210, 0.4);
  box-shadow: 0px 5px 80px rgba(210, 210, 210, 0.4);
  left: 0;
  right: 0;
  top: 163px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 999;
  padding: 30px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.mobile-menu ul li {
  margin-bottom: 15px;
}

.mobile-menu ul li:last-child {
  margin-bottom: 0;
}

.mobile-menu ul li a {
  font: 16px 'GB',sans-serif;
  color: #212020;
}

.mobile-menu.menu-active {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-toggle {
  width: 20px;
  position: relative;
  height: 3px;
  background: #212020;
}

.mobile-toggle::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 3px;
  background: #212020;
  top: -7px;
  right: 0;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle::after {
  position: absolute;
  background: #212020;
  content: '';
  width: 20px;
  height: 3px;
  top: 7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-toggle.mobile-toggle-active {
  background-color: transparent;
}

.mobile-toggle.mobile-toggle-active::before {
  width: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile-toggle.mobile-toggle-active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.slider {
  position: relative;
  margin-bottom: 120px;
}

.slider-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-item img {
  border-radius: 10px;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 100;
}

.arrow:focus {
  outline: 0;
}

.arrow:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.arrow.right {
  position: absolute;
  right: 10px;
  top: 80px;
}

.arrow.left {
  position: absolute;
  left: 10px;
  top: 80px;
}

.arrow.left::after {
  position: absolute;
  content: url(../img/r-arrow.png);
  left: 12px;
  top: 12px;
}

.arrow.right::after {
  position: absolute;
  content: url(../img/l-arrow.png);
  left: 12px;
  top: 12px;
}

.controls {
  position: relative;
}

button[type='button'] {
  display: none;
}

.catalog {
  margin-bottom: 130px;
}

.catalog h3 {
  margin-bottom: 60px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.catalog-item {
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 35px 0 35px 25px;
}

.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.catalog-item img {
  margin-bottom: 20px;
  width: 50px;
}

.catalog-item p {
  font: 13px 'GB',sans-serif;
  color: #212020;
}

.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.category-filters {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.category-filters .form-control {
  margin-bottom: 25px;
  background: #FAFAFA;
}

.filter-caption {
  font: 18px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 15px;
}

.filter-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#slider {
  margin-bottom: 10px;
}

.mobile-filter-wrapper a {
  display: none !important;
}

.items {
  margin-bottom: 40px;
  position: relative;
}

.items-inner {
  padding: 155px 0;
}

.items-inner h3 {
  margin-bottom: 25px;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  margin-bottom: 50px;
}

.items-filter {
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px 0px 0px 2px;
  margin-bottom: 25px;
  height: 50px;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-filter-caption {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
}

.items-filter-caption::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 50px;
  background: #EBEBEB;
  right: 0;
}

.items-filter-select {
  position: relative;
}

.items-filter-select .form-control {
  border: none;
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.items-filter-select::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 48px;
  background: #EBEBEB;
  right: 0;
}

.items-filter-select:first-child {
  width: auto;
}

.items-filter-select:nth-child(3)::after {
  content: none;
}

.image-center {
  display: block;
  text-align: center;
}

.item {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 23px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 23px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 25px;
}

.item img {
  margin-bottom: 40px;
}

.item.new-item {
  padding: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item.new-item img {
  margin-bottom: 20px;
}

.item.new-item p {
  font: 20px 'GB', sans-serif;
  color: #D7D7D7;
}

.item.new-item a {
  text-align: center;
}

.item-fav {
  position: absolute;
  content: url(../img/fav.png);
  padding: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 20px;
  top: 20px;
}

.item-fav:hover {
  content: url(../img/in-fav.png);
  background: #00AADF;
}

.item-fav.in-fav {
  content: url(../img/in-fav.png);
  background: #00AADF;
}

.item-info {
  padding: 25px;
}

.item-info-text {
  font: 16px 'GR',sans-serif;
  color: #212020;
  margin-bottom: 10px;
}

.item-info-text.item-present {
  color: #01BF41;
}

.item-info-text.item-not-present {
  color: #bf3e34;
}

.item-info-name {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 25px;
}

.item-info-price {
  font: 20px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 10px;
}

.item-info-place {
  font: 13px 'GR',sans-serif;
  color: #656565;
}

.item-image-thumb {
  width: 100px;
  height: 65px;
  opacity: .7;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item-image-thumb:hover {
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  border: 1px solid #00AADF;
}

.item-image-thumb.selected {
  opacity: 1;
  border: 1px solid #00AADF;
}

.item-informaion {
  margin-bottom: 70px;
}

.item-informaion-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  margin-bottom: 100px;
}

.item-informaion-photo {
  padding: 40px 50px;
  background: #ffffff;
  border-right: 1px solid #EBEBEB;
}

.item-informaion-photo h1 {
  font: 28px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 25px;
}

.item-informaion-price-inner {
  padding: 40px 50px;
  background: #ffffff;
  margin-bottom: 35px;
  border-bottom: 1px solid #EBEBEB;
}

.item-informaion-price-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-informaion-price-buttons a {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.item-informaion-price p {
  font: 24px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 30px;
}

.item-informaion .best-customer-item {
  padding: 0 50px;
}

.item-informaion-description {
  background: #ffffff;
  font: 14px 'GR',sans-serif;
}

.item-informaion-description span {
  color: #707070;
  display: inline-block;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.item-informaion-description p {
  display: inline-block;
  color: #000000;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.item-informaion-description-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.items-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-paginator-total p {
  font: 15px 'GR',sans-serif;
  color: #161616;
}

.items-paginator-pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-paginator-pages ul li {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.items-paginator-pages ul li:first-child {
  border: 1px solid #EBEBEB;
}

.items-paginator-pages ul li:last-child {
  border: 1px solid #EBEBEB;
  border-left: none;
}

.items-paginator-pages ul li a {
  font: 16px 'GR',sans-serif;
  color: #161616;
  padding: 15px;
}

.items-paginator-pages ul li a.active-page {
  color: #009FEE;
}

.fade-out {
  -webkit-animation: fade-out .4s ease-out both;
  animation: fade-out .4s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in .4s ease-out both;
  animation: fade-in .4s ease-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.new-chat {
  position: relative;
}

.new-chat-form {
  display: none;
  -webkit-animation: fadeEffect .2s;
  animation: fadeEffect .2s;
  position: absolute;
  background: #ffffff;
  z-index: 999;
  min-height: 0;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #EBEBEB;
  border-top: none;
}

.new-chat-form textarea {
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.new-chat .chat-active {
  display: block;
}

.features {
  margin-bottom: 130px;
}

.features h3 {
  margin-bottom: 50px;
}

.features-wrapper {
  margin-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
}

.features-item {
  position: relative;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 35px 65px 35px 95px;
}

.features-item h4 {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 10px;
}

.features-item p {
  font: 14px 'GR',sans-serif;
  color: #515151;
}

.features-item-wrapper::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: #FAFAFA;
  left: 30px;
}

.features-item-wrapper.f1::after {
  position: absolute;
  content: url(../img/f1.png);
  left: 48px;
  top: 48px;
}

.features-item-wrapper.f2::after {
  position: absolute;
  content: url(../img/f2.png);
  left: 48px;
  top: 48px;
}

.features-item-wrapper.f3::after {
  position: absolute;
  content: url(../img/f3.png);
  left: 44px;
  top: 48px;
}

.features-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.features-info-wrapper.horizontal {
  grid-template-columns: 1fr;
}

.features-info-wrapper.horizontal .features-info-block-left {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.features-info-wrapper.horizontal .features-info-block {
  border: 1px solid #EBEBEB;
}

.features-info-block {
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 40px;
}

.features-info-block h4 {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 10px;
}

.features-info-block p {
  font: 16px 'GR',sans-serif;
  color: #515151;
}

.features-info-block-right {
  padding: 20px 0;
}

.features-info-block-right img {
  margin-bottom: 20px;
}

.features-info-block-right h3 {
  margin-bottom: 30px !important;
}

.features-info-block-right p {
  font: 16px 'GR',sans-serif;
  color: #515151;
  line-height: 18px;
  margin-bottom: 30px;
}

.best-of-bests-wrapper {
  position: relative;
  margin-bottom: 140px;
}

.best-of-bests-bg1 {
  position: absolute;
  width: 98%;
  height: 100%;
  top: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  z-index: 9;
  background: #ffffff;
}

.best-of-bests-bg2 {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  z-index: 8;
}

.best-of-bests {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 40px 65px;
  background: #ffffff;
}

.best-of-bests::after {
  position: absolute;
  content: url(../img/f-big.png);
  top: 65px;
  right: 90px;
}

.best-customers {
  margin-right: 230px;
}

.best-customer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.best-customer-item:last-child {
  margin-bottom: 0;
}

.best-customer-item-info {
  font: 14px 'GR',sans-serif !important;
  color: #707070 !important;
  margin-bottom: 20px !important;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.customer-img {
  position: relative;
  margin-right: 25px;
}

.customer-img img {
  max-width: none;
}

.customer-img.with-star::after {
  position: absolute;
  content: url(../img/small-star.png);
  top: -10px;
  right: -10px;
}

.customer-img.with-globe::after {
  position: absolute;
  content: url(../img/globe.png);
  top: -10px;
  right: -10px;
}

.customer-info p {
  font: 16px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 5px;
}

.customer-info span {
  font: 12px 'GB',sans-serif;
  color: #009FEE;
}

.features-info-wrapper-new {
  position: relative;
  background: #26D961;
  padding: 75px 65px;
}

.features-info-wrapper-new h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.features-info-wrapper-new p {
  color: #ffffff;
  line-height: 20px;
}

.features-info-wrapper-new-inner {
  width: 55%;
}

.features-info-wrapper-new-right-block {
  padding: 35px;
  max-width: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 75px;
  position: absolute;
}

.features-info-wrapper-new-right-block.block-top {
  top: 0;
  background: #26D961;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
}

.features-info-wrapper-new-right-block.block-bottom {
  top: 240px;
  background: #30EB6E;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
}

.login {
  margin-bottom: 130px;
}

.login-wrapper {
  max-width: 500px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 40px 35px;
}

.login-wrapper-group {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.login-wrapper-group input {
  margin-right: 20px;
}

.login-wrapper form {
  text-align: center;
}

.login-wrapper h3 {
  font: 22px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 25px;
  text-align: center;
}

.login-wrapper .input {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-wrapper .btn {
  width: 50%;
}

.login-form-error {
  margin-top: 50px;
  text-align: center;
}

.login-form-error p {
  text-transform: uppercase;
  color: #ff5965;
}

.not-visible {
  display: none;
}

.upload-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.upload-label {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  width: 140px;
  height: 140px;
  padding-top: 0 !important;
  -ms-flex-preferred-size: 0 !important;
  flex-basis: 0 !important;
  cursor: pointer;
  margin-right: 10px;
}

.upload-label::after {
  position: absolute;
  content: url(../img/upload.png);
  left: 40px;
  top: 30px;
}

.upload-label input {
  visibility: hidden;
}

.images-preview img {
  margin-right: 10px;
}

.images-preview img:last-child {
  margin: 0;
}

.contacts {
  margin-bottom: 120px;
}

.contacts h3 {
  margin-bottom: 15px;
}

.contacts p {
  margin-bottom: 60px;
}

.contacts button {
  width: 180px;
}

.contacts .footer-social {
  margin-bottom: 60px;
}

.lk {
  margin-bottom: 150px;
}

.lk-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 25px;
}

.lk-menu {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 50px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.lk-menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
}

.lk-menu-top img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.lk-menu-top p {
  font: 16px 'GB', sans-serif;
  color: #212020;
  margin-bottom: 10px;
}

.lk-menu-top span {
  font: 14px 'GR', sans-serif;
  color: #01BF41;
  margin-bottom: 20px;
}

.lk-menu-top a {
  margin-bottom: 45px;
  color: #969696;
}

.lk-menu-top a::before {
  font-family: FontAwesome;
  content: '\f08b';
  margin-right: 10px;
}

.lk-menu-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lk-menu-bottom ul li {
  padding: 10px 0;
  cursor: pointer;
}

.lk-menu-bottom ul li:hover {
  background: #F8F8F8;
}

.lk-menu-bottom ul li.active-li {
  background: #F8F8F8;
}

.lk-menu-bottom ul li a {
  position: relative;
  font: 15px 'GR', sans-serif;
  margin-left: 70px;
  color: #000000;
}

.lk-menu-bottom ul li a::before {
  font-family: FontAwesome;
  color: #37D134;
  font-size: 20px;
  position: absolute;
}

.my-ads::before {
  left: -38px;
  content: '\f044';
}

.my-buys::before {
  left: -40px;
  content: '\f07a';
}

.my-chat::before {
  left: -40px;
  content: '\f1d7';
}

.my-fav::before {
  left: -40px;
  content: '\f08a';
}

.my-settings::before {
  left: -38px;
  content: '\f013';
}

.lk-mobile-menu {
  display: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 25px;
  margin-bottom: 40px;
}

.lk-mobile-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lk-mobile-menu ul li a {
  color: #969696;
  font-size: 30px;
}

.lk-mobile-menu ul .active-menu-link a {
  color: #3CCE6D;
}

.lk-content-wrapper {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.lk-content-chat {
  position: relative;
  height: 100%;
}

.lk-content-chat ul {
  margin-bottom: 30px;
}

.lk-content-chat ul li {
  margin-bottom: 15px;
}

.lk-content-chat ul li:last-child {
  margin-bottom: 0;
}

.lk-content-chat p {
  font: 16px 'GR', Sans-Serif;
  color: #969696;
  margin-bottom: 15px;
}

.lk-content-chat-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 20px;
}

.lk-content-chat-item-img {
  position: relative;
}

.lk-content-chat-item-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.lk-content-chat-item-img.unread::after {
  position: absolute;
  content: attr(data-num);
  right: 16px;
  color: #ffffff;
  background: #37D134;
  width: 20px;
  height: 20px;
  padding: 2px 6px;
  border-radius: 50%;
}

.lk-content-chat-item-user {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.lk-content-chat-item-user p {
  font: 16px 'GB', Sans-Serif;
  color: #212020;
  margin-bottom: 10px;
}

.lk-content-chat-item-user span {
  color: #838383;
}

.lk-content-chat-item-close a {
  color: #37D134;
  font-size: 30px;
  opacity: 0.8;
}

.lk-content-chat-item-close a:hover {
  opacity: 1;
}

.lk-content-chat-messages {
  display: none;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  height: 100%;
  top: 0;
}

.lk-content-chat-messages-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 20px;
}

.lk-content-chat-messages-top-img {
  position: relative;
}

.lk-content-chat-messages-top-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.lk-content-chat-messages-top-img.unread::after {
  position: absolute;
  content: attr(data-num);
  right: 16px;
  color: #ffffff;
  background: #37D134;
  width: 20px;
  height: 20px;
  padding: 2px 6px;
  border-radius: 50%;
}

.lk-content-chat-messages-top-user {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.lk-content-chat-messages-top-user p {
  font: 16px 'GB', Sans-Serif;
  color: #212020;
  margin-bottom: 10px;
}

.lk-content-chat-messages-top-user span {
  color: #838383;
}

.lk-content-chat-messages-bottom {
  padding: 60px 20px;
  overflow-y: auto;
  max-height: 50%;
}

.lk-content-chat-messages-bottom__message-to-me {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lk-content-chat-messages-bottom__message-to-me p {
  font: 16px 'GR', Sans-Serif;
  color: #000;
  padding: 10px 20px;
  background: #F6F6F6;
  border-radius: 20px;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.lk-content-chat-messages-bottom__message-to-me span {
  font: 12px 'GR', Sans-Serif;
  color: #838383;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.lk-content-chat-messages-bottom__message-from-me {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lk-content-chat-messages-bottom__message-from-me p {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font: 16px 'GR', Sans-Serif;
  padding: 10px 20px;
  background: #447CFA;
  border-radius: 20px;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  color: #ffffff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.lk-content-chat-messages-bottom__message-from-me span {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  font: 12px 'GR', Sans-Serif;
  color: #838383;
}

.lk-content-chat-messages-new-message {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 13px 25px;
  z-index: 999;
}

.lk-content-chat-messages-new-message textarea {
  border: none;
  display: block;
  -ms-flex-preferred-size: 95%;
  flex-basis: 95%;
  overflow: hidden;
  resize: none;
  height: 16px;
}

.lk-content-chat-messages-new-message textarea:focus {
  outline: 0;
}

.lk-content-chat-messages-new-message-button {
  margin-bottom: auto;
}

.lk-content-chat-messages-new-message-button a {
  color: #447CFA;
  font-size: 30px;
}

.lk-content-chat-messages.show-messages {
  display: block;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fonds-wrapprer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}

.fonds-item {
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding: 45px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.fonds-item img {
  width: 225px;
  margin-bottom: 50px;
}

.fonds-item p {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 15px;
}

.fonds-item span {
  display: block;
  font: 14px 'GR',sans-serif;
  color: #808080;
  margin-bottom: 50px;
}

.fonds-item a {
  padding: 10px  0;
}

.fond-img {
  text-align: center;
  margin-bottom: 60px;
}

.fond h1 {
  font: 20px 'GB',sans-serif;
  margin-bottom: 30px;
}

.fond h3 {
  font: 16px 'GB',sans-serif;
  margin-bottom: 15px;
}

.fond-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 130px;
}

.fond-contact {
  margin-bottom: 35px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: none;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  padding: 0 10px;
}

.modal-active {
  display: block;
  pointer-events: auto;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-dialog.buy-modal {
  height: 100vh;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-clip: padding-box;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  outline: 0;
  width: 480px;
  padding: 35px 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-title {
  font: 32px 'GB',sans-serif;
  color: #000000;
  line-height: 39px;
  font-weight: 500;
  margin-bottom: 30px;
}

.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

.close.home-close {
  position: absolute;
  right: 40px;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}

.footer {
  background: #F9F9F9;
  padding-top: 50px;
}

.footer h4 {
  font: 18px 'GB',sans-serif;
  color: #212020;
  margin-bottom: 20px;
}

.footer-top {
  padding-bottom: 60px;
  border-bottom: 1px solid #EBEBEB;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-top-menu ul li {
  margin-bottom: 10px;
}

.footer-top-menu ul li:last-child {
  margin-bottom: 0;
}

.footer-top-menu ul li a {
  font: 13px 'GR',sans-serif;
  color: #515151;
}

.footer-bottom {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-bottom img {
  margin-right: 40px;
  width: 330px;
}

.footer-bottom p {
  max-width: 110px;
  font: 10px 'GR',sans-serif;
  color: #AFAFAF;
}

.footer-contact-item {
  margin-bottom: 10px;
}

.footer-contact-item span {
  max-width: 110px;
  font: 10px 'GR',sans-serif;
  color: #AFAFAF;
  margin-bottom: 5px;
}

.footer-contact-item p {
  font: 13px 'GR',sans-serif;
  color: #515151;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social ul li {
  margin-right: 10px;
}

.footer-social ul li span {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
  opacity: .8;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.footer-social ul li span:hover {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.vk {
  background: url(../img/VK.png);
}

.fb {
  background: url(../img/Facebook.png);
}

.ok {
  background: url(../img/OK.png);
}

.inst {
  background: url(../img/inst.png);
}

.mc {
  background: url(../img/Mastercard.png);
  opacity: 1 !important;
}

.visa {
  background: url(../img/Visa.png);
  opacity: 1 !important;
}

@media (max-width: 1190px) {
  .nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .nav ul li a {
    font-size: 12px;
  }

  .header-top-nav li {
    margin-right: 25px !important;
  }

  .item-informaion-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .mobile-visible {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .header-top {
    padding: 10px 0;
  }

  .nav {
    display: none;
  }

  .header-bottom form {
    display: none;
  }

  .mobile-filter-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
  }

  .mobile-filter-wrapper a {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    height: 48px;
  }

  .category-filters {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 60px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }

  .category-filters.filters-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }

  .category-wrapper {
    position: relative;
    grid-template-columns: 1fr;
  }

  .catalog {
    margin-bottom: 80px;
  }

  .catalog-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
  }

  .catalog-item {
    padding: 15px;
  }

  .catalog-item a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .items-filter-caption p:last-child {
    display: none;
  }

  .items-filter-select:last-child:after {
    content: none;
  }

  .items-filter {
    grid-template-columns: 75% 25%;
  }

  .best-of-bests {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .best-of-bests::after {
    content: none;
  }

  .best-customers {
    margin-right: 0;
  }

  .features-item {
    padding: 90px 20px 20px 20px;
    text-align: center;
  }

  .features-item-wrapper::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: #FAFAFA;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
  }

  .features-item-wrapper.f1::after {
    position: absolute;
    content: url(../img/f1.png);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 23px;
  }

  .features-item-wrapper.f2::after {
    position: absolute;
    content: url(../img/f2.png);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 23px;
  }

  .features-item-wrapper.f3::after {
    position: absolute;
    content: url(../img/f3.png);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 23px;
  }

  .features-info-wrapper-new-right-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .features-info-wrapper-new-inner {
    text-align: center;
    width: 100%;
  }

  .features-info-wrapper-new a {
    margin-bottom: 30px;
  }

  .features-info-wrapper-new-right-block {
    position: unset;
    margin: 0 auto;
  }

  .features-info-wrapper {
    grid-template-columns: 100%;
  }

  .features-info-block-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }

  .features-info-block-left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .features-info-block {
    border: 1px solid #EBEBEB !important;
  }

  .lk-mobile-menu {
    display: block;
  }

  .lk-menu {
    display: none;
  }

  .lk-menu-top {
    border-bottom: none;
    -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding: 50px 0;
  }

  .lk-wrapper {
    grid-template-columns: 1fr;
  }

  .lk-content h3 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .about-fond {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .about-fond-left h2,
  .about-fond-left h5 {
    display: block;
  }

  .about-fond-left h2 {
    font-size: 35px;
  }

  .about-fond-left img {
    margin-bottom: 0;
  }

  .about-fond-right h2,
  .about-fond-right h5 {
    display: none;
  }

  .about-fond-right img {
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .features-info-wrapper-new {
    padding: 25px;
  }

  .features-info-wrapper-new-right-block-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .best-of-bests {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .best-customers {
    margin-bottom: 30px;
    width: 320px;
  }

  .best-transfers {
    width: 320px;
  }

  .footer-top {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
  }

  .footer-social {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .breadcrumbs ul li a {
    font-size: 12px;
  }

  .breadcrumbs ul li a::after {
    margin: 0 5px;
  }

  .breadcrumbs ul li span {
    font-size: 12px;
  }

  .form-group {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .mobile-filter-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .items-filter-caption p {
    display: none;
  }

  .items-filter-caption::after {
    content: none;
  }

  .items-filter {
    grid-template-columns: 1fr;
  }

  .features-wrapper {
    grid-template-columns: 1fr;
  }

  .features .features-info-block-left {
    grid-template-columns: 100%;
  }
}

@media (max-width: 500px) {
  .footer-top {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    text-align: center;
  }

  .footer-social {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-columns: 100%;
  }

  .footer-social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-bottom {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .items-paginator {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .items-paginator-total {
    margin-bottom: 10px;
  }

  .items-paginator-pages ul li {
    padding: 5px;
  }

  .items-paginator-pages ul li a {
    font-size: 13px;
    padding: 5px;
  }
}