.form-control
  position: relative
  height: 40px
  font: 14px 'GR', sans-serif
  color: #161616
  padding: 0 10px
  background: #FFFFFF
  border: 1px solid $color-border
  box-sizing: border-box
  border-radius: 2px
  flex-basis: 20%
  &:focus
    outline: none
  &.select
   width: 100%
  &.input
    flex-grow: 1
    width: 100%
    padding-left: 20px
  &.textarea
    flex-grow: 1
    height: 180px
    padding: 15px 20px
    width: 100%



.fieldset
  background: #E5E5E5
  border-radius: 10px
  position: relative
  flex-basis: 35%
  input
    padding-left: 60px !important

  &.search::before
    position: absolute
    content: url(../img/zoom.png)
    left: 20px
    bottom: 0
    top: 0
    margin: auto 0
    width: 16px
    height: 16px
    z-index: 1




.btn
  border: none
  background: linear-gradient(360deg, #01BF41 28.69%, #26D961 100%)
  box-shadow: 0px 2px 0px #0E913A
  border-radius: 2px
  cursor: pointer
  font: 12px 'GB',sans-serif
  color: #ffffff
  height: 40px
  flex-basis: 20%
  width: 100%
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  &:hover
    background: linear-gradient(0deg, #05D74C 0%, #37F274 100%)
    box-shadow: 0px 2px 0px #0EC24A
  &.bg-grey
    background: $color-border
  &.with-plus
    &::before
      content: url(../img/plus.png)
      height: 16px
      width: 16px
      margin-right: 16px
  &.with-arrow
    max-width: 260px
    &::after
      content: url(../img/arrow.png)
      height: 16px
      width: 16px
      margin-left: 16px
  &.with-filter
    &::before
      content: url(../img/filter.png)
      height: 16px
      width: 16px
      margin-right: 16px
  &.with-green-fav
    &::before
      content: url(../img/in-fav-green.png)
      height: 16px
      width: 16px
      margin-right: 16px
  &.btn-outline
    border: 2px solid #01BF41
    box-sizing: border-box
    border-radius: 2px
    background: none
    box-shadow: none
    color: #04C043
    height: 42px
  &.btn-grey
    border-color: $color-border
    color: $color-text-grey





.radio-control
  display: flex
  align-items: center
  margin-bottom: 10px
  label
    margin-left: 10px

.dual-input
  display: flex
  align-items: center
  margin-bottom: 25px
  input
    border: none
    padding: 0 10px
    height: 40px
    width: 49%
    border: 1px solid $color-border
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.08)
    border-radius: 2px
    &:focus
      outline: 0
  p
    margin: 0 10px

.form-row
  margin-bottom: 50px
  &-grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    grid-template-rows: 85px

  p
    font: 18px 'GB',sans-serif
    color: $color-text-grey
    margin-bottom: 25px
  span
    font: 13px 'GR', sans-serif
    color: #9e9e9e
    display: block
    margin-top: 15px
.form-group
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin-bottom: 30px
  &.vertical
    flex-direction: column
    margin-bottom: 0
    label
      margin-bottom: 10px
    input
      height: 50px
  label
    flex-basis: 15%
    padding-top: 10px

  span

    font: 13px 'GR', sans-serif
    color: #9e9e9e
    display: block
    margin-top: 15px