.login
  margin-bottom: 130px
.login-wrapper
  max-width: 500px
  background: #FFFFFF
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05)
  border-radius: 2px
  padding: 40px 35px
  &-group
    margin-bottom: 20px
    display: flex

    justify-content: flex-start
    input
      margin-right: 10px
  form
    text-align: center
  label
    text-align: start
  h3
    font: 22px 'GB', sans-serif
    color: $color-text-grey
    margin-bottom: 25px
    text-align: center
  & .input
    margin-bottom: 20px

    box-sizing: border-box
  .btn
    width: 50%

.login-form-error
  margin-top: 50px
  text-align: center
  p
    text-transform: uppercase
    color: #ff5965
.not-visible
  display: none


