{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Из Добрых Рук | Благотворительная площадка</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">

</head>
<body>
<form id="dummy_form" class="not-visible">{% csrf_token %}</form>
{% include 'header.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}
<script>

    function toggleModal(type) {

        document.getElementsByClassName(type)[0].classList.toggle('modal-active')
        return false

    }

    let mobile_button = document.getElementsByClassName('mobile-toggle')[0]
    let mobile_menu = document.getElementsByClassName('mobile-menu')[0]

    mobile_button.onclick = function () {
        this.classList.toggle('mobile-toggle-active')

        mobile_menu.classList.toggle('menu-active')
    }
</script>
<script src="{% static 'js/tiny-slider.js' %}"></script>
<script>


    function add_del_fav(item_id,el,lk) {
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let body = {item_id:item_id}
        let type = ''
        if (el.classList.contains('in-fav')){
            type='delete'
        }
        else {
            type='add'
        }
        fetch(`/item/wishlist_${type}/`, {
            method: 'post',
            body: JSON.stringify(body),
            headers: { "X-CSRFToken": csrfmiddlewaretoken },
            credentials: 'same-origin'
        }).then(res=>res.json())
            .then(res => {
                if (res['result'] === true){
                    if(lk==='lkactive'){
                        console.log(el.closest('div').classList.add('not-visible'))
                    }

                    else{
                        el.classList.toggle('in-fav')
                    }

                }

            })


    }
</script>
<script>
    var doc = document

    var mobile = 'false',
        isTestPage = false,
        isDemoPage = true,
        classIn = 'jello',
        classOut = 'rollOut',
        speed = 400,
        doc = document,
        win = window,
        ww = win.innerWidth || doc.documentElement.clientWidth || doc.body.clientWidth,
        fw = getFW(ww),
        initFns = {},
        sliders = new Object(),
        edgepadding = 50,
        gutter = 10;

    function getFW (width) {
        var sm = 400, md = 900, lg = 1400;
        return width < sm ? 150 : width >= sm && width < md ? 200 : width >= md && width < lg ? 300 : 400;
    }
    window.addEventListener('resize', function() { fw = getFW(ww); });

    var options = {
        'slider-inner': {
            container: '',
            items: 1,
            controlsContainer: '#customize-controls',
            autoplay: true,
            autoplayTimeout: 4000,
            speed: 1000,
            gutter: 10,

            edgePadding: 20,
            responsive: {
                640: {
                    edgePadding: 20,
                    gutter: 20,
                    items: 2
                },
                700: {
                    items: 2
                },
                900: {
                    items: 3
                }
            }

        },
        'item-informaion-photos': {
            container: '',
            items: 3,
            controlsContainer: '#customize-controls',
            autoplay: false,
            autoplayTimeout: 4000,
            speed: 1000,
            gutter: 0,
             responsive: {
                640: {
                    edgePadding: 20,
                    gutter: 20,
                    items: 4
                },
                700: {
                    items: 5
                },
                900: {
                    items: 6
                }
            }

        },

    }

    for (var i in options) {
        var item = options[i];
        item.container = '#' + i;
        item.swipeAngle = false;
        if (!item.speed) { item.speed = speed; }

        if (doc.querySelector(item.container)) {
            sliders[i] = tns(options[i]);

            // call test functions
            if (isTestPage && initFns[i]) { initFns[i](); }


            // test responsive pages
        } else if (i.indexOf('responsive') >= 0) {
            if (isTestPage && initFns[i]) { initFns[i](); }
        }
    }
</script>
<script>
    function toggleForm() {
        document.getElementsByClassName('login-form')[0].classList.toggle('not-visible')
        document.getElementsByClassName('register-form')[0].classList.toggle('not-visible')
    }
</script>
</body>
</html>