{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-menu">
                <h4>О компании</h4>
                <ul>
                    <li><a href="{% url 'about' %}">Как мы работаем</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li><a href="{% url 'index' %}">Каталог Товаров</a></li>
                    <li><a href="{% url 'fonds' %}">Фонды</a></li>
                    <li><a href="{% url 'documents'%}">Документы</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}">Вход\Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer-top-menu">
                <h4>Разделы</h4>
                <ul>
                    {% for cat in all_cat %}
                        <li><a href="{% url 'catalog' cat.name_slug %}">{{ cat.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
            <div class="footer-contact">
                <h4>О компании</h4>
                <div class="footer-contact-item">
                    <span>E-mail:</span>
                    <p><a style="color: #212020 " href="mailto:info@from-goods-hands.ru">info@from-goods-hands.ru</a></p>
                </div>
                <div class="footer-contact-item">
                    <span>Телефон:</span>
                    <p>+7 499 653-52-00</p>
                    <span>Телефон:</span>
                    <p>+7 925 518-74-06</p>
                </div>
            </div>
            <div class="footer-social">
                <div class="">
                    <h4>Мы в социальных сетях</h4>
                    <ul class="mb-30">
                        <li><a  href=""><span class="vk"></span></a></li>
                        <li><a  href="https://facebook.com/profile.php?id=100047373103228"><span class="fb"></span></a></li>
                        <li><a  href=""><span class="ok"></span></a></li>
                        <li><a  href="http://instagram.com/izdobrykhruk"><span class="inst"></span></a></li>
                    </ul>
                </div>
                <div class="">
                    <h4>Способы оплаты</h4>
                    <ul>
                        <li><span class="mc "></span></li>
                        <li><span class="visa "></span></li>

                    </ul>
                </div>

            </div>

        </div>
        <div class="footer-bottom">
            <img src="{% static 'img/logo.png' %}" alt="">
            <p>Благотворительная торговая площадка</p>
        </div>
    </div>

</footer>