{% load static %}
<header class="header">

    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper">
                <div class="logo">
                    <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="nav">
                    <div class="header-top-nav">
                        <ul>
                            <li><a href="{% url 'about' %}">Как мы работаем</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            <li><a href="{% url 'index' %}">Каталог Товаров</a></li>
                             <li><a href="{% url 'fonds' %}">Фонды</a></li>
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'login' %}">Вход\Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="header-top-nav-buttons">
                            <ul>
                                <li><a href="{% url 'lk' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>

            </div></div>

    </div>
    <div class="header-bottom">
        <div class="container">
            <form action="{% url 'search' %}">
                <select class="form-control select" name="category" >
                    <option selected disabled value="0">Любая категория</option>
                    {% for cat in all_cat %}
                        <option value="{{ cat.id }}">{{cat.name}}</option>
                    {% endfor %}
                </select>
                <select class="form-control select" name="town" >
                    <option selected disabled value="0">Любой город</option>
                    {% for town in all_towns %}
                        <option value="{{ town.id }}">{{town.name}}</option>
                    {% endfor %}
                </select>
                <div class="fieldset search">
                    <input class="form-control input " name="query" type="text" placeholder="Введите что искать...">
                </div>
                <input type="submit" style="visibility: hidden; position: absolute">
                <a class="btn with-plus" href="{% url 'new_item' %}">разместить обьявление</a>
            </form>
            <div class="mobile-nav">
                <div class="header-top-nav-buttons mobile-buttons">
                    <div class="mobile-menu-wrapper">
                        <div class="mobile-toggle"></div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'lk' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                             <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        {% endif %}

                    </ul>
                </div>

            </div>
        </div>
        <div class="mobile-menu">
            <ul>
                <li><a href="{% url 'about' %}">Как мы работаем</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="#">Каталог Товаров</a></li>
                 <li><a href="#">Фонды</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Вход\Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>



</header><!-- // header -->