{% load static %}
<header class="header">

    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper">
                <div class="logo">
                    <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="nav">
                    <div class="header-top-nav">
                        <ul>
                            <li><a href="{% url 'about' %}">Как мы работаем</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            <li><a href="#">Каталог Товаров</a></li>
                            <li><a href="{% url 'lk' %}">Вход\Регистрация</a></li>
                        </ul>
                    </div>
                    <div class="header-top-nav-buttons">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div></div>

    </div>
    <div class="header-bottom">
        <div class="container">
            <form action="">
                <select class="form-control select" name="" id="">
                    <option selected disabled>Категория</option>
                    {% for cat in all_cat %}
                        <option value="{{ cat.id }}">{{cat.name}}</option>
                    {% endfor %}
                </select>
                <select class="form-control select" name="" id="">
                    <option selected disabled>Город</option>
                     {% for town in all_towns %}
                        <option value="{{ town.id }}">{{town.name}}</option>
                    {% endfor %}
                </select>
                <div class="fieldset search">
                    <input class="form-control input " type="text" placeholder="Введите что искать...">
                </div>

                <a class="btn with-plus" href="{% url 'new_item' %}">разместить обьявление</a>
            </form>
            <div class="mobile-nav">
                <div class="header-top-nav-buttons mobile-buttons">
                    <div class="mobile-menu-wrapper">
                        <div class="mobile-toggle"></div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-user-o"></i></a></li>


                    </ul>
                </div>

            </div>
        </div>
        <div class="mobile-menu">
            <ul>
                <li><a href="#">Как мы работаем</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Каталог Товаров</a></li>
                <li><a href="#">Вход\Регистрация</a></li>
            </ul>
        </div>
    </div>



</header><!-- // header -->